

.info {
  margin-top: 20px;
}

.home-content{
  display: flex;
  justify-content: space-between;
}

.content {
  flex: 1;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust column width based on screen size */
  justify-content: flex-end;
  border: solid 1px #ddd;
  border-radius: 20px;
  gap: 20px;
  scroll-behavior: smooth;
  overflow-y: auto;
  max-height: 80vh;
}

.game-box {
  width: 100%; /* Set width to 100% to fit the container */
  height: 450px; /* Maintain height for desktop */
  position: relative;
  border-radius: 6px;
  text-align: center;
}

.game-image:hover,
.game-image:focus {
  outline: 3px solid #0ca678;
  box-shadow: 10px 4px 5px 5px #0ca67817;
}

.game-image {
  max-width: 100%;
  height: 300px;
  border-radius: 10px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-title{
  color: #ffff;
}

@media screen and (max-width: 768px) {
  .content {
    padding: 10px; /* Adjust padding for smaller screens */
    gap: 10px; /* Adjust gap for smaller screens */
  }
  
  .game-box {
    height: auto; /* Adjust height for smaller screens */
  }

  .game-image {
    height: auto; /* Adjust height for smaller screens */
  }
}
