.home-content{
    // background-image: url('../../../../assets/images/image1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
}
