// f17f22
.main-input-container {
    position: relative;
    margin: 25px 10px 10px 10px;

    .main-input:focus {
        outline: solid 1px #0ca678;
        box-shadow: 1px 10px 5px 2px #0ca67817;
        transition: 0.3s;
    }

    .search-icon {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        color: #888;
        z-index: 10;
    }

    .main-input {
        position: relative;
        padding: 5px;
        padding-left: 30px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
        font-size: 14px;
        width: 400px;
        margin-left: 1rem;

        &::placeholder {
            color: #999;
            font-style: italic;
        }
    }
}