// f17f22
.main-input-container {
    position: relative;

    .main-input:focus {
        outline: solid 1px #0ca678;
        box-shadow: 1px 10px 5px 2px #0ca67817;
        transition: 0.3s;
    }

    .search-icon {
        position: absolute;
        left: 20px;
        top: 57%;
        transform: translateY(-50%);
        color: #f7f7f7;
        z-index: 10;
        border-radius: 10%;
    }

    .main-input {
        position: relative;
        background-color: #0ca6781e;
        padding: 7px;
        padding-left: 30px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
        font-size: 14px;
        width: 400px;
        margin-left: 1rem;
        color: #ffffff;
        letter-spacing: 1.2px;
        font-size: 14px;

        &::placeholder {
            color: #f7f7f7;
            font-style: italic;
            letter-spacing: 1.2px;
        }
    }
}


