.sidebar {
  width: 200px;
  background-color: transparent;
  color: #fff;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}

.sidebar-icon {
  font-size: 20px;
  margin-right: 10px;
}

.sidebar-item:active {
  background-color: #0ca67875;
}

.sidebar-item span {
  font-size: 16px;
}
